/Airplane10Seats.class
/CLI.class
/FlightInformation.class
/FlightReservationSystem.class
/Food.class
/FoodClass.class
/FoodMenu.class
/Main.class
/MakingReservation.class
/Menu.class
/MsjDisplay.class
/Tester.class
/Ticket.class
/seatType.class
